/* Form Styles */

.form-container {
    width: 603px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
}

.form-heading {
    align-items: center;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #74b180;
    color: #fff;
    cursor: pointer;
}

.dashboard-button {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 3px;
    background-color: #74b180;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.dashboard-button:hover {
    background-color: #43d850a5;
}

.form-container button[type="submit"]:hover {
    background-color: #43d850a5;
}

.form-container .link {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
}

.form-container .link:hover {
    color: #0056b3;
}